body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main {
  margin: 2em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

  main button {
    border-color: rgb(52, 52, 97);
    width: 8em;
    height: 3em;
  }

  main img {
    width: 250px;
    height: 250px;
    margin: 1em;
  }

footer {
  margin-top: auto;
  background-color: rgb(52, 52, 97);
  color: white;
  text-align: center;
}

.projectsGrid {
  display: grid;
  grid-template-areas: "project1 project2"
                       "project3 project4";
  grid-template-rows: 10em 10em;
  grid-template-columns: 10em 10em;
}

.project1 { grid-area: project1; }
.project2 { grid-area: project2; }
.project3 { grid-area: project3; }
.project4 { grid-area: project4; }

.project1,
.project2,
.project3,
.project4 {
  background-color: rgb(52, 52, 97);
  margin: 1em;
  border: black;
}

.project1 button,
.project2 button,
.project3 button,
.project4 button {
  margin: 1em;
}

.project1 button,
.project2 button,
.project3 button,
.project4 button {
  margin: 1em;
}